@import "./../../assets/fonts.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.support {
  width: 100%;
  max-width: 1280px;
  padding: 40px 40px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.banner {
  min-height: 306px;
  padding: 40px;
  border-radius: 40px;
  background-color: #93bbea;
  background-image: url(./../../assets/images/banner.png);
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.banner__title {
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 4px;
}
.banner__text {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 535px;
}
.banner__action {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: #ffffff;
  width: 160px;
  height: 48px;
  gap: 8px;
}
.banner-btn__icon {
  display: flex;
}
.banner-btn__text {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #1a1a1a;
  text-align: center;
}

.social {
  color: #1a1a1a;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
  display: flex;
  gap: 30px 160px;
  padding: 42px 40px;
  width: 100%;
  max-width: 996px;
  margin: 0 auto;
}
.social__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social__subtitle {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.social__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.social__action {
  display: flex;
  gap: 16px;
}
.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 14px;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #1a1a1a;
}
.faq__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

.swiper {
  max-width: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #1a1a1a;
  width: 100%;
  max-width: 996px;
  margin: 0 auto;
}
.info__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}
.info__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 16px 24px;
  display: flex;
  justify-content: space-between;
}
.info-item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 430px;
}
.info-item__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.info-item__text {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #949494;
}

/*# sourceMappingURL=main.css.map */
