@import "./../../assets/fonts.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.support {
  width: 100%;
  max-width: 1280px;
  padding: 40px 40px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .support {
    padding: 30px 20px 60px;
    gap: 60px;
  }
}
@media screen and (max-width: 450px) {
  .support {
    padding: 20px 15px 40px;
    gap: 40px;
  }
}

.banner {
  min-height: 306px;
  padding: 40px;
  border-radius: 40px;
  background-color: #93bbea;
  background-image: url(./../../assets/images/banner.png);
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .banner {
    padding: 30px 20px;
  }
}
.banner__title {
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
@media screen and (max-width: 450px) {
  .banner__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 450px) {
  .banner__title {
    margin-bottom: 25px;
  }
}
.banner__text {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
  max-width: 535px;
}
.banner__action {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: #ffffff;
  width: 160px;
  height: 48px;
  gap: 8px;
}
.banner-btn__icon {
  display: flex;
}
.banner-btn__text {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.016em;
  color: #1a1a1a;
  text-align: center;
}

.social {
  color: #1a1a1a;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
  display: flex;
  gap: 30px 160px;
  padding: 42px 40px;
  width: 100%;
  max-width: 996px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (max-width: 1075.9px) {
  .social {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .social {
    padding: 20px 15px;
  }
}
.social__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 2px;
}
.social__subtitle {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.016em;
}
.social__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.016em;
}
@media screen and (max-width: 450px) {
  .social__title {
    font-size: 30px;
  }
}
.social__action {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 1075.9px) {
  .social__action {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 540px) {
  .social__action {
    max-width: 330px;
  }
}
.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 14px;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #1a1a1a;
}
.faq__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.016em;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .faq__title {
    font-size: 30px;
  }
}
.faq .swiper {
  max-width: 1200px;
}
.faq .swiper-slide {
  flex-shrink: 1;
}
.faq .swiper-button-prev,
.faq .swiper-button-next {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #ffffff;
  right: 1px;
}
.faq .swiper-button-prev::after,
.faq .swiper-button-next::after {
  display: none;
}

.faq-item {
  display: flex;
  gap: 12px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 16px;
  width: 282px;
  height: 162px;
}
.faq-item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.faq-item__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.012em;
}
.faq-item__text {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.007em;
}
.faq-item__img {
  margin-top: 5px;
  margin-right: -16px;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #1a1a1a;
  width: 100%;
  max-width: 996px;
  margin: 0 auto;
}
.info__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.016em;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .info__title {
    font-size: 30px;
  }
}
.info__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 16px 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 440px;
}
.info-item__title {
  font-family: "MuseoSansCyrl-600", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.012em;
}
.info-item__text {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #949494;
}
.info-item__icon {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=main.css.map */
