@import "./../../assets/fonts.css";

$white: #ffffff;
$gray-500: #949494;
$gray-900-black: #1a1a1a;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin desktop-h1 {
    font-family: "MuseoSansCyrl-700", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;

    @media screen and (max-width: 450px) {
        font-size: 45px;
    }
}

@mixin desktop-h3 {
    font-family: "MuseoSansCyrl-600", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.016em;

    @media screen and (max-width: 450px) {
        font-size: 30px;
    }
}

@mixin Desktop-h6 {
    font-family: "MuseoSansCyrl-600", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.012em;
}

@mixin body-large {
    font-family: "MuseoSansCyrl-300", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
}

@mixin body-medium {
    font-family: "MuseoSansCyrl-300", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.007em;
}

@mixin body-small {
    font-family: "MuseoSansCyrl-300", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
}

@mixin button-medium {
    font-family: "MuseoSansCyrl-600", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.016em;
}

@mixin subtitle-large {
    font-family: "MuseoSansCyrl-600", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.016em;
}

@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.support {
    width: 100%;
    max-width: 1280px;
    padding: 40px 40px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (max-width: 768px) {
        padding: 30px 20px 60px;
        gap: 60px;
    }

    @media screen and (max-width: 450px) {
        padding: 20px 15px 40px;
        gap: 40px;
    }
}

.banner {
    min-height: 306px;
    padding: 40px;
    border-radius: 40px;
    background-color: #93bbea;
    background-image: url(./../../assets/images/banner.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    text-align: center;

    @media screen and (max-width: 450px) {
        padding: 30px 20px;
    }

    // .banner__title

    &__title {
        @include desktop-h1();
        margin-bottom: 5px;

        @media screen and (max-width: 450px) {
            margin-bottom: 25px;
        }
    }

    // .banner__text

    &__text {
        @include body-large();
        max-width: 535px;
    }

    // .banner__action

    &__action {
        margin-top: 40px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.banner-btn {
    @include btn();
    border-radius: 12px;
    background-color: $white;
    width: 160px;
    height: 48px;
    gap: 8px;

    // .banner-btn__icon

    &__icon {
        display: flex;
    }

    // .banner-btn__text

    &__text {
        @include button-medium();
        color: $gray-900-black;
        text-align: center;
    }
}

.social {
    color: $gray-900-black;
    box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
    border-radius: 40px;
    display: flex;
    gap: 30px 160px;
    padding: 42px 40px;
    width: 100%;
    max-width: 996px;
    margin: 0 auto;
    align-items: center;

    @media screen and (max-width: 1075.9px) {
        flex-direction: column;
        text-align: center;
    }

    @media screen and (max-width: 450px) {
        padding: 20px 15px;
    }

    // .social__title-wrapper

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 2px;
    }

    // .social__subtitle

    &__subtitle {
        @include subtitle-large();
    }

    // .social__title

    &__title {
        @include desktop-h3();
    }

    // .social__action

    &__action {
        display: flex;
        gap: 15px;

        @media screen and (max-width: 1075.9px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (max-width: 540px) {
            max-width: 330px;
        }
    }

    // .social__btn

    &__btn {
        @include btn();
        width: 56px;
        height: 56px;
        border-radius: 14px;
    }
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $gray-900-black;

    // .faq__title

    &__title {
        @include desktop-h3();
        text-align: center;
    }

    // .faq .swiper

    .swiper {
        max-width: 1200px;
    }

    // .faq .swiper-slide

    .swiper-slide {
        flex-shrink: 1;
    }

    // .faq .swiper-button-prev,
    // .faq .swiper-button-next

    .swiper-button-prev,
    .swiper-button-next {
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
        width: 44px;
        height: 44px;
        border-radius: 100%;
        background-color: $white;
        right: 1px;

        // .faq .swiper-button-prev::after,
        // .faq .swiper-button-next::after

        &::after {
            display: none;
        }
    }
}

.faq-item {
    display: flex;
    gap: 12px;
    border-radius: 16px;
    background-color: $white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    width: 282px;
    height: 162px;

    // .faq-item__text-wrapper

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .faq-item__title

    &__title {
        @include Desktop-h6();
    }

    // .faq-item__text

    &__text {
        @include body-medium();
    }

    // .faq-item__img

    &__img {
        margin-top: 5px;
        margin-right: -16px;
        align-self: center;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $gray-900-black;
    width: 100%;
    max-width: 996px;
    margin: 0 auto;

    // .info__title

    &__title {
        @include desktop-h3();
        text-align: center;
    }

    // .info__list

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.info-item {
    border-radius: 16px;
    background-color: $white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 16px 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .info-item__text-wrapper

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 440px;
    }

    // .info-item__title

    &__title {
        @include Desktop-h6();
    }

    // .info-item__text

    &__text {
        @include body-small();
        color: $gray-500;
    }

    // .info-item__icon

    &__icon {
        width: 24px;
        height: 24px;
    }
}
